mode: one_step

env:
  HOST: 127.0.0.1
  PORT: "3306"
  USER: root
  PASS: "Root@1234"
  SOCKET: /var/lib/mysql/mysql.sock

  # Playbook envs (one_step / two_step)
  SRC_HOST: 192.168.68.107
  SRC_PORT: "3306"
  SRC_USER: migrate
  SRC_PASS: "Migrate123!"
  #SRC_DB: testdb
  SRC_DBS: "sakila,world,classicmodels"
  SRC_SSL_MODE: "DISABLED"  # e.g., DISABLED | REQUIRED | VERIFY_CA | VERIFY_IDENTITY
  SRC_ADMIN_USER: root
  SRC_ADMIN_PASS: "Root@1234"
  SRC_ADMIN_LOCAL: "1"
  # SRC_ADMIN_SOCKET: "/tmp/mysql.sock"
  TGT_HOST: 192.168.64.4
  TGT_PORT: "3306"
  TGT_USER: migrate
  TGT_PASS: "Migrate123!"
  TGT_ADMIN_USER: root
  TGT_ADMIN_PASS: "Root@1234"
  TGT_ADMIN_LOCAL: "1"
  # TGT_ADMIN_SOCKET: "/var/lib/mysql/mysql.sock"
  TGT_SSH_HOST: "192.168.64.4"
  TGT_SSH_USER: "root"
  TGT_SSH_OPTS: "-o StrictHostKeyChecking=no"
  ALLOW_ROOT_USERS: "0"
  SKIP_INSTALL_MARIADB: "0"  # set to "1" if MariaDB is already installed on target
  PREFLIGHT_AUTO_FIX: "1"
  PREFLIGHT_AUTO_FIX_TARGET: "1"

  # Two-step SQLines Data
  SQLINESDATA_BIN: /usr/local/bin/sqldata
  # SQLINESDATA_URL: "https://www.sqlines.com/download"
  # SQLINESDATA_DIR: "/usr/local/bin"
  SQLINESDATA_CMD: "./sqlinesdata-3.7.10_x86_64_linux/sqldata -sd=mysql,$SRC_USER/'$SRC_PASS'@$SRC_HOST:$SRC_PORT/$SRC_DB -td=mysql,$TGT_USER/'$TGT_PASS'@$TGT_HOST:$TGT_PORT/$SRC_DB -smap=$SRC_DB:$SRC_DB -ss=6 -t=$SRC_DB.* -constraints=no -indexes=no -triggers=no -views=no -procedures=no"
  SQLINESDATA_CMD_FINALIZE: "./sqlinesdata-3.7.10_x86_64_linux/sqldata -sd=mysql,$SRC_USER/'$SRC_PASS'@$SRC_HOST:$SRC_PORT/$SRC_DB -td=mysql,$TGT_USER/'$TGT_PASS'@$TGT_HOST:$TGT_PORT/$SRC_DB -smap=$SRC_DB:$SRC_DB -ss=6 -t=$SRC_DB.* -data=no -ddl_tables=no -constraints=yes -indexes=yes -triggers=yes -views=yes -procedures=yes"
  # SQLINESDATA_CMD_TEMPLATE: "./sqlinesdata ... -sd=mysql,user/pass@src:3306/{DB} -td=mysql,user/pass@tgt:3306/{DB} ..."
  # SQLINESDATA_CMD_FINALIZE_TEMPLATE: "./sqlinesdata ... -sd=mysql,user/pass@src:3306/{DB} -td=mysql,user/pass@tgt:3306/{DB} ..."

  # Near-zero playbook
  # NEAR_ZERO_REPLICATION_CMD: "bash /path/to/replication_setup.sh"
  # NEAR_ZERO_CDC_CMD: "bash /path/to/start_cdc.sh"
  # NEAR_ZERO_CUTOVER_CMD: "bash /path/to/cutover.sh"

  # MariaDB Enterprise install (target)
  # MARIADB_ES_TOKEN: "xxxxx"  # REQUIRED: set via environment variable (do not commit)
  MARIADB_ES_VERSION: "11.8.5-2"
  MARIADB_NOGPGCHECK: "0"
  MARIADB_ES_OS: "rhel-10"
  MARIADB_ES_ARCH: "aarch64"
  MARIADB_INSTALL_HOST: "192.168.64.4"
  MARIADB_INSTALL_SSH_USER: "root"
  MARIADB_INSTALL_SSH_OPTS: "-o StrictHostKeyChecking=no"
  REMOVE_MYSQL_PACKAGES: "1"

target:
  type: mariadb
  version: "11.8.5-2-MariaDB-enterprise"
