mode: offline 

env:
  HOST: 127.0.0.1
  PORT: "3306"
  USER: root
  PASS: "Root@1234"
  SOCKET: /var/lib/mysql/mysql.sock

  # Playbook envs (one_step / two_step)
  # SRC_HOST: 127.0.0.1
  # SRC_PORT: "3306"
  # SRC_USER: migrate
  # SRC_PASS: "change_me"
  # SRC_DB: mydb
  # TGT_HOST: 127.0.0.1
  # TGT_PORT: "3306"
  # TGT_USER: root
  # TGT_PASS: "change_me"

  # Two-step SQLines Data
  # SQLINESDATA_BIN: /usr/local/bin/sqldata
  # SQLINESDATA_ARGS: "-sd=mysql,user/pass@src:3306/db -td=mysql,user/pass@tgt:3306/db -smap=db:db -ss=6 -t=db.* -constraints=no -indexes=no -triggers=no -views=no -procedures=no"
  # SQLINESDATA_ARGS_FINALIZE: "-sd=mysql,user/pass@src:3306/db -td=mysql,user/pass@tgt:3306/db -smap=db:db -ss=6 -t=db.* -data=no -ddl_tables=no -constraints=yes -indexes=yes -triggers=yes -views=yes -procedures=yes"
  # SQLINESDATA_CMD: "./sqlinesdata ... (full command)"
  # SQLINESDATA_CMD_FINALIZE: "./sqlinesdata ... (full command)"

  # Near-zero playbook
  # NEAR_ZERO_REPLICATION_CMD: "bash /path/to/replication_setup.sh"
  # NEAR_ZERO_CDC_CMD: "bash /path/to/start_cdc.sh"
  # NEAR_ZERO_CUTOVER_CMD: "bash /path/to/cutover.sh"

target:
  type: mariadb
  version: "11.8.5-2-MariaDB-enterprise"
