mode: "one_step"

env:
  # Playbook envs (one_step / two_step)
  SRC_HOST: "192.168.64.7"
  SRC_PORT: "3306"
  SRC_USER: "admin"
  SRC_PASS: "Admin123!"
  #SRC_DB: testdb
  SRC_DBS: "world,testdb"
  SRC_SSL_MODE: "DISABLED"  # e.g., DISABLED | REQUIRED | VERIFY_CA | VERIFY_IDENTITY
  SRC_ADMIN_USER: "admin"
  SRC_ADMIN_PASS: "Admin123!"
  TGT_HOST: "192.168.64.3"
  TGT_PORT: "3306"
  TGT_USER: "admin"
  TGT_PASS: "MariaDB123!"
  TGT_ADMIN_USER: "admin"
  TGT_ADMIN_PASS: "MariaDB123!"
  TGT_SSH_HOST: "192.168.64.3"
  TGT_SSH_USER: "root"
  TGT_SSH_OPTS: "-o StrictHostKeyChecking=no"
  MIGRATE_APP_USERS: "0"
  APP_USER_DEFAULT_PASSWORD: ""
